# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.env
**/main

# 忽略 config 文件夹中的所有文件
config/*

storage/*

cmd/server/storage/*

# Test files
*_test.go